In [1]:
#imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import xgboost as xgb
import lightgbm as lgb
import warnings
warnings.filterwarnings('ignore')
# sklearn modules for data preprocessing:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer, OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#sklearn modules for Model Selection:
from sklearn import svm, tree, linear_model, neighbors
from sklearn import naive_bayes, ensemble, discriminant_analysis, gaussian_process
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from collections import Counter
#sklearn modules for Model Evaluation & Improvement:
   
from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.metrics import f1_score, precision_score, recall_score, fbeta_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import classification_report, precision_recall_curve
from sklearn.metrics import auc, roc_auc_score, roc_curve
from sklearn.metrics import average_precision_score
from sklearn.model_selection import cross_val_predict
from sklearn.decomposition import PCA
#Standard libraries for data visualization:
import matplotlib.pyplot as plt
import matplotlib 
from IPython.display import display
from sklearn.metrics import roc_curve
from imblearn.over_sampling import SMOTE

C:\Users\User\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
#import dataset
data = pd.read_csv('banking_churn.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
%matplotlib qt5
plt.title("Customers by Age")
data['Age'].hist(bins = 30, color = 'blue', alpha = 0.7)
plt.xlabel("Age")
plt.ylabel("Count")

Text(0, 0.5, 'Count')

In [5]:
%matplotlib qt5
plt.title("Customers by Credit Score")
data['CreditScore'].hist(bins = 30, color = 'blue', alpha = 0.7)
plt.xlabel("Credit Score")
plt.ylabel("Count")

Text(0, 0.5, 'Count')

In [6]:
%matplotlib qt5
Geography = data['Geography']
plt.title("Customers by Geography")
plt.hist(Geography, 
         edgecolor='black',
         color= '#09fea8')
plt.xlabel("Geography")
plt.ylabel("Count")
plt.show()

In [7]:
%matplotlib qt5
plt.title("Customers by Gender")
data['Gender'].value_counts().plot(kind='pie', autopct='%.2f%%')

In [8]:
%matplotlib qt5
Tenure = data['Tenure']
plt.title("Customers by Tenure")
plt.hist(Tenure,
         edgecolor='black',
         color= '#09fea8')
plt.xlabel("Tenure")
plt.ylabel("Count")
plt.show()

In [9]:
%matplotlib qt5
NumOfProducts = data['NumOfProducts']
plt.title("Customers by NumOfProducts")
plt.hist(NumOfProducts, 
         edgecolor='black',
         color= '#09fea8')
plt.xlabel("NumOfProducts")
plt.ylabel("Count")
plt.show()

In [10]:
%matplotlib qt5
plt.title("Customers by HasCrCard")
data['HasCrCard'].value_counts().plot(kind='pie', autopct='%.2f%%')

In [11]:
%matplotlib qt5
plt.title("Customers by IsActiveMember")
data['IsActiveMember'].value_counts().plot(kind='pie', autopct='%.2f%%')

In [12]:
%matplotlib qt5
EstimatedSalary = data['EstimatedSalary']
plt.title("Customers by Estimated Salary")
plt.hist(EstimatedSalary,bins = 50,
         edgecolor='black',
         color= '#09fea8')
plt.xlabel("Estimated Salary")
plt.ylabel("Count")
plt.show()